{%extends 'blog/base.html'%}
{%block title_block%}{{post.title}}{%endblock%}
    {%block content%}

        <h1>{{post.title}}</h1>
        <p id="date">Published On {{post.publish}} by {{post.author|title}}</p>
        {{post.body|linebreaks}}
        <div class="container" align="center">
          <a href="/{{post.id}}/share" class="btn btn-success btn-lg">Share Post By Email</a>
        </div>

         {% with comments.count as comments_count %}
            <h2>{{comments_count}} Comment{{comments_count|pluralize}}</h2>
         {%endwith%}
         {% if comments %}
            {% for comment in comments %}
                 <p id='ch'>Comment {{forloop.counter}} By {{comment.name}} On {{comment.created}}</p>
                 <div class="cb">{{comment.body|linebreaks}} </div>
            {%endfor%}
            <hr>
            {%else%}
               <p>There are no Comments Yet!!!!</p>
          {%endif%}
          {% if csubmit %}
            <h2>Your Comment Added Successfully</h2>
            {%else%}
              <h2>You Can Submit Your Comment It is more Valuable For Us!!!</h2>
              <form  method="post">
                {{form.as_p}}
                {%csrf_token%}
                <input type="submit" class="btn btn-primary btn-lg" value="Submit Comment">

              </form>
          {%endif%}
    {%endblock%}
